<ion-header>
  <ion-toolbar color="grey" style="color: #ffffff;">
    <ion-title>
      <ion-text (click)="membership()" style="font-size: 95%;"
        [innerHTML]=" 'membership.membership' |  translate "></ion-text>
    </ion-title>
    <ion-buttons slot="start" (click)="membership()">
      &nbsp;<ion-icon color="white" style="font-size: 150%;" name="add-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="membership()">
      &nbsp;My Card<ion-icon color="white" style="font-size: 150%;" name="add-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaderDistroyer == true">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let member of members" (click)="memberDetail(member)">
          <ion-card>
            <ion-row>
              <ion-col style="text-align: left;">
                <ion-text>
                  <b style="color: black;font-size: 90%;">{{member.memberName}}</b><br><span
                    style="font-size: 80%;">({{member.village}},{{member.tehsil}})</span>
                </ion-text>
              </ion-col>
            </ion-row>
            <img height="150px" width="100%" [src]="member.user.decodedBase64"
              onerror="this.src='../../../../assets/images/default.png'" />
            <br>
            <ion-item-divider class="ion-no-padding">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <ion-text style="font-size: 60%;">{{member.showDate}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-item-divider>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="loaderDistroyer == false">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- <ion-fab vertical="bottom" slot="fixed" >
    <ion-button fill="clear" color="primary" (click)="membership()">
      <ion-icon name="add-circle-outline"></ion-icon>Membership
    </ion-button>
  </ion-fab> -->
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>